body {
    font-family: 'Fredoka', sans-serif;
    margin:auto;
}

.container {
    max-width: 960px;
    margin: auto;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: darkblue;
    text-align: center;
}
h3 {
    color:blueviolet;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    color: green;
}
img {
    height: auto;
    width: 60%;

}
img.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}